$white: #ffffff;
$black: #000000;

body {
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2em;
  margin: 1rem 0 1.68rem;
  color: $black;
  line-height: 110%;
  font-weight: 400;
}

.md-app {
  min-height: 100vh;
}

.md-toolbar {
  background-color: $black;
  color: $white;

  button {
    color: $white;
  }

  a {
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }
}

.md-menu-content-container {
  background-color: #696868;
  color: $white;

  button {
    color: $white;
  }

  a, a:visited {
    color: $white;
  }

  .md-menu-item:hover {
    background-color: rgba($color: $black, $alpha: 0.1);
  }
}

.md-drawer {
  width: 300px;
  max-width: calc(100vw - 125px);
  background-color: $black;
  color: $white;

  button {
    color: $white;
  }

  a, a:visited {
    color: $white;
  }

  .md-list-item:hover {
    background-color: rgba($color: $black, $alpha: 0.1);
  }

  .md-list-item-content {
    font-size: 1.5rem;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  margin-top: 25px;
}

.photo-list {
  margin-bottom: 10px;
}

.avatar {
  height: 30px !important;
  border-radius: 30px;
}