$white: #ffffff;
$black: #000000;
$grey: rgb(136, 127, 127);
$break-small: 992px;
$primary-color: var(--md-theme-default-primary);
$fadein: 1s;

body {
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
  height: 100%;
}

h1 {
  font-size: 2em;
  margin: 1rem 0 1.68rem;
  color: $primary-color;
  line-height: 110%;
  font-weight: 400;
}

h2 {
  color: $primary-color !important;
  a {
    color: $primary-color !important;
  }
}

.white {
  color: $white !important;
}

.md-app-content {
  padding: 0 !important;
}

._hide_mobile {
  @media screen and (max-width: $break-small) {
    display: none !important;
  }
}

.tiny {
  font-size: 1rem;
}

.md-app {
  min-height: 100vh;
}

.topnav-title a {
  color: $white !important;
}

// .md-toolbar {
//   background-color: $black;
//   color: $white;

//   button {
//     color: $white;
//   }

//   a {
//     color: $white;

//     &:hover {
//       text-decoration: none;
//     }
//   }
// }

// .md-menu-content-container {
//   background-color: #696868;
//   color: $white;

//   button {
//     color: $white;
//   }

//   a, a:visited {
//     color: $white;
//   }

//   .md-menu-item:hover {
//     background-color: rgba($color: $black, $alpha: 0.1);
//   }
// }

.md-drawer {
  width: 300px;
  max-width: calc(100vw - 125px);
  background-color: $primary-color !important;
  color: $white;

  button {
    color: $white;
  }

  a, a:visited {
    color: $white;
  }

  .md-list {
    background-color: $primary-color !important;
    a, a:visited {
      color: $white;
    }
  }

  .md-list-item:hover {
    background-color: rgba($black, $alpha: 0.1);
  }

  .md-list-item-content {
    font-size: 1.5rem;
    color: #fff;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.photo-list {
  margin-bottom: 10px;
}

.avatar {
  height: 30px !important;
  border-radius: 30px;
}

.center {
  text-align: center;
}

.spinner-show {
  display: flex;
}

.spinner-hide {
  display: none !important;
}

.objects-spinner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

$flash-bg: #797979;
$flash-color: #cccccc;

 .dot-flashing {
   position: relative;
   width: 10px;
   height: 10px;
   border-radius: 5px;
   background-color: $flash-bg;
   color: $flash-color;
   animation: dotFlashing 1s infinite linear alternate;
   animation-delay: .5s;
 }

 .dot-flashing::before, .dot-flashing::after {
   content: '';
   display: inline-block;
   position: absolute;
   top: 0;
 }

 .dot-flashing::before {
   left: -15px;
   width: 10px;
   height: 10px;
   border-radius: 5px;
   background-color: $flash-bg;
   color: $flash-color;
   animation: dotFlashing 1s infinite alternate;
   animation-delay: 0s;
 }

 .dot-flashing::after {
   left: 15px;
   width: 10px;
   height: 10px;
   border-radius: 5px;
   background-color: $flash-bg;
   color: $flash-color;
   animation: dotFlashing 1s infinite alternate;
   animation-delay: 1s;
 }

 @keyframes dotFlashing {
   0% {
     background-color: $flash-bg;
   }
   50%,
   100% {
     background-color: $flash-color;
   }
 }

.md-radio {
  display: flex;
}

.upload-card {
  margin-bottom: 30px;
}

#customdropzone {
  border: 2px dashed $primary-color;
  border-radius: 10px;
}

.photoAddContainer {
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.profile-top-container {
  margin-bottom: 50px;
}

.big-avatar {
  height: 50px !important;
  border-radius: 50px;
}

.grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;

  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
}

.grid-item {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;

  img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    animation: fadein $fadein;
    -moz-animation: fadein $fadein;
    -webkit-animation: fadein $fadein;
    -o-animation: fadein $fadein;
  }

  /* Flex Fallback */
  flex: 1 1 200px;
}

.photo {
  animation: fadein $fadein;
  -moz-animation: fadein $fadein;
  -webkit-animation: fadein $fadein;
  -o-animation: fadein $fadein;
}

@supports (display: grid) {
  .grid-item {
    margin: 0;
  }
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.intro {
  display: table;
  height: 100vh;
  width: 100%;
  margin: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .inner {
    display: table-cell;
    width: 100%;
    max-width: none;
    text-align: center;

    .intro-logo {
      margin-bottom: 50px;
    }

    .intro-text {
      font-size: 3rem;
      color: $white;
      margin-bottom: 50px;
    }

    .intro-about {
      margin-bottom: 50px;
      color: $white;
      font-size: 1.3rem;
      a, a:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}
.intro-buttons {
  display: flex;
  justify-content: space-between;

  .button-big {
    background-color: $white;
    height: 50px;
    width: 100%;
    border: 1px solid $primary-color;
  }
}